<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJJ System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <section id="portada" class="portada">
        <header>
            <!-- Barra Superior -->
            <div id="barrasuperior">
                <img src="{{ url_for('static', filename='Logo BJJ OFICIAL.pdf.png') }}">
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Inicio</a></li>
                        <li><a href="{{ url_for('estadisticas') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('registrar_cliente') }}">Registrar Cliente</a></li>
                        <li><a href="{{ url_for('paquetes') }}">Registrar Paquete</a></li>
                        <li><a href="{{ url_for('clientes') }}">Facturas</a></li>
                    </ul>
                </nav>
                
            </div>
        </header>
    </section>

    <section id="contenedor">
        <div class="overlay"></div>
        <h2>Bienvenido al sistema</h2>
        <p>Seleccione una opción del menú para comenzar</p>
        <div class="menu-opciones">
            <div class="R">
                <h3>Registrar Cliente</h3>
                <p>Agregar un nuevo cliente al sistema</p>
                <a href="{{ url_for('registrar_cliente') }}">
                    <button class="btn btn-principal">Registrar</button>
                </a>
                
            </div>
            <div class="D">
                <h3>Dashboard</h3>
                <p>Ver estadísticas y análisis</p>
                <a href="{{ url_for('estadisticas') }}">
                <button class="btn btn-principal">Dashboard</button>
                </a>
            </div>
            <div class="F">
                <h3>Facturas</h3>
                <p>Ver historial de facturas generadas</p>
                <a href="{{ url_for('clientes') }}">
                    <button class="btn btn-principal">Facturas</button>
                </a>
                
            </div>
            
        </div>
    </section>
    <footer>
    <p>Sistema de Paquetería BJJ 2026</p>
</footer>
</body>
</html>