<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJJ System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <section id="portada" class="portada">
        <header>
            <!-- Barra Superior -->
            <div id="barrasuperior">
                <img src="{{ url_for('static', filename='Logo BJJ OFICIAL.pdf.png') }}">
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}" target="_self">Inicio</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="{{ url_for('registrar_cliente') }}" target="_self">Registrar Cliente</a></li>
                        <li><a href="/registrar_paquete">Registrar Paquete</a></li>
                        <li><a href="/facturas">Facturas</a></li>
                    </ul>
                </nav>
                
            </div>
        </header>
    </section>    
    <Section id="Formulario">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for categoria, mensaje in messages %}
                <div class="alert {{categoria}}">
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}   
        <form action="{{ url_for('guardar_cliente') }}" method="post">
            <fieldset>
                <legend>Datos del Cliente</legend>
                <p>
                    Nombre del Cliente
                    <input name="nombre" type="text" placeholder="Jose Luis" size="30" required pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+">
                </p>
                <p>
                    Teléfono
                    <input name="telefono" type="text" placeholder="+505 5773-9641" size="30" required pattern="[0-9]{8}">
                </p>

                <p>
                    Correo
                    <input name="correo" type="email" placeholder="cliente@email.com" required>
                </p>
                <p>
                    Cédula
                    <input name="cedula" type="text" placeholder="001-220905-1038A" required autofocus>
                    
                </p>            
                <button class="btn btn-principal" type="submit">Guardar Cliente</button>
            </fieldset>
        </form>
        <fieldset>
        <legend>Clientes Recientes</legend>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Cédula</th>
                    </tr>
                </thead>

                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.correo }}</td>
                        <td>{{ cliente.cedula }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </fieldset>

    <a href="{{ url_for('clientes_pdf') }}">
    <button class="btn btn-principal">Descargar PDF</button>
    </a>    
    </Section>
    
    <footer>
        <p>Sistema de Paquetería BJJ 2026</p>
    </footer>

    
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const cedulaInput = document.getElementById("cedula");
        const formCliente = document.getElementById("form-cliente");

        cedulaInput.addEventListener("keypress", function(e) {
            // Detecta ENTER (muchos lectores envían Enter al final)
            if (e.key === "Enter") {
                e.preventDefault(); // evita salto de línea
                formCliente.submit(); // envía el formulario automáticamente
            }
        });
    });
    </script>

</body>
</html>

